<!doctype html>
<html lang="{{ language or 'ru' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or meta.title }}</title>
    <link rel="preload" href="{{ '/css/main.min.css' | url }}" as="style">
    <link rel="stylesheet" href="{{ '/css/main.min.css' | url }}"/>
    <script>
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
  </head>
  <body class="flex flex-col h-screen antialiased text-slate-500 dark:text-slate-400 bg-white dark:bg-slate-900 p-4 md:p-6 xl:px-8">
    {% include "header.njk" %}

    <main class="flex flex-col flex-grow">
      {{ content | safe }}
    </main>

    <footer></footer>
    <script>
      function toggleMode() {
        const isDark = document.documentElement.classList.contains('dark')
        const isSwitchToDark = !isDark
        const isDarkSystem = window.matchMedia('(prefers-color-scheme: dark)').matches
        const isSwitchToSystem = isSwitchToDark === isDarkSystem
        
        if (isSwitchToSystem) {
          localStorage.removeItem('theme')
        } else {
          localStorage.setItem('theme', isSwitchToDark ? 'dark' : 'light')
        }

        document.documentElement.classList[isSwitchToDark ? 'add' : 'remove']('dark')
      }
    </script>
  </body>
</html>
