---
layout: layouts/home.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---

<div class="flex flex-col items-center w-full">
    <span class="text-9xl">404</span>
    <span class="text-4xl tracking-wide">Not Found</span>
</div>
